*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* overflow:auto; */
}
body{
    /* background-color: white; */
}
.togo-fix{
    display:flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
    /* grid-template-rows: 1; */
}
.nav{
    display:flex;
  
    align-items: center;
  }
  .active{
    background-color: rgb(88, 90, 90);
  }
  .nav ul{
      display: flex;
      align-items: center;
  }
  ul li{
     margin-left: 30px;
      list-style: none;
      padding: 8px;
      border-radius: 5px;
  }
  ul li:hover{
    background-color: rgb(88, 90, 90);
}
  a{
      text-decoration: none;
      color: #1E1B1B;
  }
 a:hover{
    color:white
 }
  .close{
      display:none;
  }
  .span-2{
      margin-left:90px;
      display: none;
  }
  .nav-item{
      display: flex;
      /* padding: 30px; */
      align-items: center;
  }
  .line{
      width:35px;
      border-radius: 20px;
      height:3px;
      margin-top: 7px;
      background-color: black;
  }
  .line-1{
      background-color: rgb(147, 145, 145, 1);
      height: 24px;
      width:1px;
      align-items: center;
      margin-left:15px;
  }
  .number{
      margin-top: 5px;
  }
  .Road-1{
      display:flex;
      margin-left: 5px;
      align-items: center;
  }
/* .Gett{
    display: grid;
    justify-content: center;
} */
/* .get-vehicle1{
  width:100%;
  margin-top: 150px;
}
.vehicle-combo{
    width:80%;
    display:flex;
    justify-content: center;
    gap:40px;

}
.mechanic{
    width:70%;
}
.booking{
    margin-top: 20px;
    font-size: 10px;
 padding:10px;
  cursor: pointer;
    background-color: rgb(255, 100, 51, 1);
    border-radius: 7px;
    border-style: none;
    color: white;
    margin-bottom: 40px;
}
.booking:hover{
    background-color: #1E1B1B;
    color: white;
}
.get-vehicle{
    font-size:45px;
    font-family: 'Manrope', sans-serif;
    width:450px;
}
.fixing{
    margin-top: 20px;
    display:flex;
    gap:7px;
}
.openh{
    color: rgb(185, 177, 177);
    font-size: 10px;
}
.plan{
    font-size: 11px;
    margin-top: 5px;
}
.icony{
    width:18px;
    object-fit: contain;
}
.servicey{
    display:flex;
    background-color: rgb(248, 242, 242);
    padding: 16px;
    height:75px;
    width:35%;
    border-radius: 50px;
    border: 10px solid  rgba(225, 225, 225, 0.518) ;
    align-items: center;
   position: relative;
   margin-bottom: -8rem;
   margin-left: -25px;
   
}
#hour{
    margin-left: 3px;
    background-color: rgba(92, 186, 153, 1);;
    padding:7px;
   
    align-items: center;
    object-fit: contain;
    border-radius: 999%;
}
span{
    font-size:12px;
}
.rating{
    font-size: 10px;
}
.stars-combo{
    display: flex;
    align-items: center;
    background-color: rgb(248, 242, 242);
    padding: 16px;
    height:75px;
    width:35%;
    border-radius: 50px;
    border: 10px solid  rgba(225, 225, 225, 0.518) ;
    align-items: center;
   position: relative;
   right:-15rem;
   margin-top: -7rem;
} */


/* second-line */
.work{
    width:100%;
    margin-top: 120px;
}
.fixing-job{
    width:80%;
    margin: auto;
    display: flex;
    gap:60px;
    align-items: center;
    justify-content: center;
}
.vehicle h1{
    font-size: 55px;
    width:490px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.btn-first{
   padding: 25px 25px; 
   font-size: 20px;
   cursor: pointer;
    background-color: rgb(255, 100, 51, 1);
    border-radius: 7px;
    border-style: none;
    color: white;
    margin-bottom: 40px;
}
.btn-first:hover{
    background-color: #1E1B1B;
    color: white;
}
.icony{
    width:20px;
    object-fit: cover;
}
.open{
    display: flex;
    gap:15px;
    margin-top: 120px;
}
.open-day h4{
    font-size: 20px;
}
.open-day h6{
    font-size: 18px;
}
.mechanc-man{
    position: relative;
}
.Q-serve{
    border:10px solid  rgba(225, 225, 225, 0.518);
    position: absolute;
    top: 25px;
    background:white;
    left:-58px;
    font-size: 18px;
    color: black;
    padding: 25px 25px;
    border-radius:55px;
}
span{
    background: rgb(27, 128, 27);
    color:white;
    padding: 5px 10px;
    border-radius: 999px;
}
.rating{
    display: flex;
    position: absolute;
    bottom: 25px;
    background:white;
    right:-54px;
    font-size: 18px;
    color: black;
    padding: 15px 25px;
    border:10px solid  rgba(225, 225, 225, 0.518);
    border-radius:55px;
}

/* closing  */



/* Third */

.serious-care{
    background-color: #E2E6E9;
    width:100%;
    margin-top: 120px;
    padding-top: 40px;
    padding-bottom: 70px;
}
.car-services{
    width:80%;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap:100px;
}
/* .convey{
    margin-top: 40px;
} */
.convey h4{
    font-size: 35px;
}
.convey h5{
    font-size: 20px;
    width: 250px;
    margin-top: 10px;
}
.serious-care1{
    font-size: 50px;
    width:428px;
   margin-bottom: 50px;
}
input{
    width:30rem;
    padding: 25px 13px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background:rgb(251, 250, 250);
    outline: none;
    border-style: none;
}
.convenient{
    display:flex;
    align-items: start;
    gap:15px;
  margin-top: 20px;
}

.quote{
   position: relative;
}
.arrow{
    display: flex;
    position: absolute;
    right: 0;
 }
 ::placeholder{
    font-size: 18px;
 }
 .btn-sec{
    padding: 20px 40px;
    border-style: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 14px;
    margin-bottom: 15px;
    background-color:rgb(255, 100, 51, 1) ;
    color: white;
    cursor: pointer;
 }
 .btn-sec:hover{
    background-color: #1E1B1B;
 }

  .imgsrc{
    border-radius: 999px;
    padding: 5px 5px;
    background-color: rgb(112, 115, 115);
  }
    
  /* end third */




 /* fourth */
 .clear-process{
width:100%;
padding: 40px 0px;
 }
  .clear-all{
    width: 80%;
      margin: auto;
  display:flex;
 align-items: start;
     justify-content: center;
    gap:10%;
                margin-bottom: 80px;
 }
 .The-process1 h5{
    font-size: 26px;
   width:460px;
 
     margin-top: 20px;
  color: grey;
            }
 .The-process{

 font-size: 40px;
  width: 340px;
  }
  .lane{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
 .numbering{
         background-color:rgb(141, 36, 170);
                border-radius: 999%;
                padding:20px  20px;
                color: white;
            }
            .convenienty-1{
                display:flex;
             margin-top: 20px;
              gap:20px;
            }
            .btn-third{
                    padding: 20px 40px;
                    border-style: none;
                    font-size: 18px;
                    font-weight: 400;
                    border-radius: 14px;
                    margin-top: 20px;
                    background-color:rgb(255, 100, 51, 1) ;
                    color: white;
                    cursor: pointer;
            }
            .btn-third:hover{
                background-color: #1E1B1B;
             }
             .quotess h2{
                font-size: 35px;
             }
              .Jobs1{
                margin-top: 10px;
                color:grey;
                font-size: 25px;
              }
 .line3{
               
                height:30px;
              
              
                padding:0px 3px;
              }

/* end */



              /* fifth */
              .roww{
              width:100%;
                background-color: #E2E6E9;
               
              }
              .row1{
                display:grid;
                width:80%;
              margin: auto;
                grid-template-columns: repeat(4,220px);
                justify-content: center;
                gap:10px;
                padding: 20px;
              }
              .boxex{
                /* width:210px; */
                /* height: 160px; */
                background-color:rgb(249, 251, 252);
                display: flex;
                /* margin: auto; */
                padding: 30px 20px;
                /* justify-content: center; */
                flex-direction: column;
                text-align: center;
                /* margin-left: 9px;
                margin-top: 9px; */
                transition: all 1s;
            }
            .boxex:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
            .sixth-1:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
            .strikey{
              
               width:40px;
                /* width:36px;
                object-fit: contain; */
                /* margin-left:86px; */
                margin-bottom: 10px;
            }
            .stri11{
                width: 20px;
                margin-left:86px;
                margin-bottom: 10px;
                object-fit: contain;
            }
            #strikey21{
                background-color: rgba(255,100,51,1);
            }
            .arrow22{
                display: flex; 
                margin-top: 18px;
                align-items: center;
                margin-bottom: 80px;
                position: relative;
                 right:-44rem;
                 bottom:0;
            }
            .Cta{
                background-size: contain;
                width:100%;
            }
            .Professional{
                background-color: aliceblue;
                display:flex;
              justify-content: space-evenly;
              padding:20px;
            }
            .experienec-1{
                color:#661CE7;
                font-size: 48px;
            }
            .experienec{
               margin-left: 8px;
               font-size: 14px;
               color: grey;
            }
            .Professional-2{
                display:grid;              
                grid-template-columns: repeat(5,200px);
                /* justify-content: center; */
                padding: 20px;
                row-gap: 30px;
              }
              .experienecC{
                color: rgb(84, 84, 84);
            }
            .brands1{
                text-align: center;
                margin-top: 60px;
            }
            .brands{
                display:grid;
                justify-content: center;
            }
            .vectors{
             object-fit: contain;
             margin-right: 7px;
               width: 19px;
            }
            .thing{
                text-align: center;
                padding: 40px;
            }
            .sixth{
                background-color: aliceblue;
            }
            .manviii{
                width:30px;
                margin-right:8px;
            }
            .sixth-11{
                /* display:grid;              
                grid-template-columns: repeat(2,320px); */
                display: flex;
                justify-content: center;
                padding: 20px;
              
              }
              .thing{
                margin-top: 40px;
              }
             
            #Testimonies{
                background-color: #fcf9f9;
                margin-left: 30px;
                padding: 25px;
                 width:300px;
               
                transition: all 1s;
            }



/* last */
            .Frequently{
                width:100%;
                /* text-align: center; */
                background-color:#E2E6E9;
               padding: 60px 0px;
            }
            .F-questions{
                    width:80%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                  text-align: center;
                  gap:20px;
            }
            .Frequently h1{
                text-align: center;
                margin: 15px;
            }
            .text-finsweet{
                width:80%;
            }
            .Car-repair{
                display: flex;
                background-color: #FFFFFF;
                padding:32px 15px;
               flex: 0.6;
                justify-content: space-between;
            }
       
            .Car-repair h3{
                font-size: 25px;
            }
            .btn{
                padding: 10px 15px ;
              font-size: 18px;
               border-style: none;
               background-color:rgb(255, 100, 51, 1) ;
               color: white;
            }
     
            .straight-up{
                display: flex;
                align-items: center;
                justify-content:center ;
               
               
            }
            .straight-line{
                background-color: black;
                width:20px;
                height:4px;
                margin-left: 5px;
                /* text-align: center; */
            }
            .straight-up-1{
                display: flex;
                /* margin-left: 100px; */
                
            }
            .the-arrows1{
                display: flex;
            }
            .arrowi{
                object-fit: contain;
            }

            .get-in-touch{
                background-color:#1E1B1B ;
                color: white;
               /* height:15rem; */
            }
            .with-us{
                display:flex;
                justify-content: space-evenly;
               position: relative;
               top:90px;
            }
            .instagram{
                width:15px;
                object-fit: contain;
            }
            .svgess{
                margin-top: 30px;
                align-items: center;
            }
            .svg-1{
                width:15px;
                margin-left: 9px;
            }
            .contacts{
            margin-bottom: 30px;
            }
            .weekdays{
                margin-top: 11px;
                margin-bottom:0px;
            }
            .almost-last{
                margin-bottom: 8rem;
            }
            .class-6{
                color:#afacac;
                
            }
            .informations{
                font-size:40px;
            }
            footer{
                display:flex;
                justify-content: center;
                background-color: #282626;
                color: white;
                height:7rem;
                align-items: center;
            }
            .navv,
            .footer-home{
                display:flex; 
                color: white;
             }
                
             .footer-li{
                 margin-top: 10px;
                position: relative;   
               left:0;
             color: white;
                }
                .quoter{
                    background-color: #ded7d7;
                    position: relative;
                   border-radius: 8px;
                    top: -15rem;
                    /* left:-10rem; */
                    display:none;
                    width:70%;
                }
                .combine{
                    padding:10px;
                }

   
        @media screen and (max-width: 478px){


            .fixing-job{
             
                display: flex;
                flex-direction: column;
                gap:60px;
                justify-content: center;
                
            }
            .vehicle h1{
                font-size: 40px;
                width:420px;
            }
            .btn-first{
                padding: 10px 10px;
            }
            .Q-serve{
                padding: 15px 10px;
                font-size: 12px;
            }
        .rating{
            padding: 10px 5px;
           
        }
        .rate{
            font-size: 12px;
        }

        .mechanic{
            width:20rem;
        }

        .icony{
            width:16px;
        }
        .car-services{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .quote{
            text-align: center;
        }

        .convey h4{
            font-size: 25px;
        }
        .convey h5{
            font-size: 18px;
        }
  /* third */
          .serious-care1{
            font-size: 40px;
            width: 340px;
          }
            input{
                width:23rem;
              
            }
            .The-process{
                font-size: 30px;
                
              }
    /* end third */
    /* fourth */
.The-process{
    font-size: 30px;
  
}
.btn-third{
    padding: 10px 15px;
}
.The-process1 h5{
    font-size: 18px;
    width:280px;
}
.clear-all{
    display: flex;
    flex-direction: column;
}
.quotess h2{
    font-size: 26px;
}
.quotess h5{
    font-size: 16px;
    width:280px;
}
.numbering{
    padding:5px 5px;
}
/* end */

/* fifth */
            .experienec-1{
                font-size: 28px;
            }
            .experienec{
                font-size: 12px;
                margin-right: 20px;
            }
            .clear-process{
                display:grid;
                justify-content: center;
            }
            .row1{
                  grid-template-columns: repeat(2,150px);
            }
            .boxex{
                width:140px;
                text-align: center;
            }
            .strikey,
            .stri11{
                margin-left:43px ;
            }
            .arrow22{
                position: relative;
                 right:-8rem;
                 bottom:0;
            }
            .arrow{
                margin-bottom: 40px;
            }
            .Professional-2{
                display:grid;              
                grid-template-columns: repeat(2,100px);
                row-gap: 40px;
              }
            
              .sixth-11{
                display: grid;
                gap:20px;
                justify-content: center;
              }
/* last */
              .Car-repair h3{ 
               font-size: 16px;
               text-align: left;
            }
            .btn{
                padding: 5px 5px;
            }
              
             .quoter{
                background-color: #ded7d7;
               margin-left: 20px;
               padding: 6px;
              color: rgb(96, 96, 96);
                width:70%;
                display:none;
            }
            .informations{
                font-size: 20px;
            }
            .with-us{
                justify-content: center;
            }
 }







            @media screen and (max-width: 768px){
                .nav ul{
                    display:block;
                    /* padding: 10px; */
                   
                }
                /* .call-1{
                    display: none;
                } */
                li{
                   margin-top: 29px;
                }
                .nav-item{
                    position:fixed;
                    /* padding: 10px; */
                    gap:20px;
                    flex-direction: column;
                    min-width: 200px;
                    top:0;
                    right:-100%;
                    background-color: rgb(33, 34, 34);
                    color: white;
                    height: 100vh;
                    align-items: flex-start;
                    justify-content:start;
                    padding-top: 4rem;
                    z-index: 1;
                    transition:2s;
                }
               
                .nav-item.active2{
                    right:0;
                    transition:0.9s;
                }
                .nav{
                    display: block;   
                    
                       
                }
                .togo-fix{
                    align-items: flex-start;
                }
                .close{
                    display: block;
                   position: absolute;
                   top:0;
                   left:0;
                   margin: 20px;
                }
                a{
                    color: white;
                    gap:40px;
                }
                ul{
                    display: block;
                   
                }
                .span-2{
                    margin-left:50%;
                    display:block;
                    cursor: pointer;
                }
                .line-1{
                    display: none;
                }
                .footer{
                    height: 100%;
                    justify-content: space-around;
                    
                }
                .footer-home{
                    margin-top: 40px;
                 
                    display: block;
                }
                .footer-li{
                    
                    padding: 10px;
                }
            } 